ul{
  border: solid 1px pink;
  margin-bottom: .10vw;
  width: 75vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  text-align: center;

  li{
    list-style-type: none;
  }

  img{
    padding: .6vw;
    margin: .6vw;
  }
}

