.div{
  display: flex;
  width: auto;
}

section{
  border: solid pink 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  width: 50vw;

  p{
    padding: 0px 10px 0px 10px;
  }
}